main#reservation {
  font-size: 0.9rem;
}
main#reservation #new_reservation_section {
  min-height: 900px;
  background-color: #495E57;
  padding-top: 100px;
}
main#reservation #new_reservation_section .container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main#reservation #new_reservation_section .container .content {
  max-width: 400px;
  color: white;
  flex: 1;
}
main#reservation #new_reservation_section .container .content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #F4CE14;
}
main#reservation #reservation_history_section {
  min-height: 600px;
  padding-top: 50px;
}
main#reservation #reservation_history_section .container h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}
main#reservation #reservation_history_section .container .reservations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main#reservation #reservation_history_section .container .reservations .reservation {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px 0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
main#reservation #reservation_history_section .container .reservations .reservation:hover {
  background-color: lightgrey;
}
main#reservation #reservation_history_section .container .reservations .reservation .icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
main#reservation #reservation_history_section .container .reservations .reservation .icon svg {
  width: 100%;
  height: 100%;
}
main#reservation #reservation_history_section .container .reservations .reservation .icon .missed {
  color: red;
}
main#reservation #reservation_history_section .container .reservations .reservation .icon .met {
  color: green;
}
main#reservation #reservation_history_section .container .reservations .reservation .icon .pending {
  color: grey;
}
main#reservation #reservation_history_section .container .reservations .reservation .summary {
  display: flex;
  flex-direction: column;
}
main#reservation #reservation_history_section .container .reservations .reservation .summary .entry {
  flex: 1;
  display: flex;
}
main#reservation #reservation_history_section .container .reservations .reservation .summary .entry .name {
  margin-right: 10px;
}

#new_reservation {
  max-width: 500px;
  box-shadow: 0 0 2px 0;
  border-radius: 2px;
  padding: 20px;
  background-color: white;
  flex: 1;
}
#new_reservation h1 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

#steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#steps .step {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
#steps .step .number {
  color: white;
  background-color: grey;
  text-align: center;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 5px;
}
#steps .step .number svg {
  width: 100%;
  height: 100%;
  color: #F4CE14;
}
#steps .details {
  justify-content: start;
}
#steps .confirm {
  justify-content: end;
}

#details_form .form_control {
  margin-bottom: 20px;
}
#details_form .buttons {
  display: flex;
  justify-content: end;
}
#details_form .buttons .button {
  text-align: center;
  width: 110px;
  font-weight: bold;
  padding: 10px;
  border-radius: 16px;
  background-color: #F4CE14;
}
#details_form .buttons .button:hover {
  background-color: rgba(244, 206, 20, 0.5411764706);
}

#payment_form .form_control {
  margin-bottom: 20px;
}
#payment_form .buttons {
  display: flex;
  justify-content: end;
}
#payment_form .buttons .button {
  text-align: center;
  width: 110px;
  font-weight: bold;
  padding: 10px;
  border-radius: 16px;
}
#payment_form .buttons .back {
  margin-right: 10px;
}
#payment_form .buttons .next {
  background-color: #F4CE14;
}
#payment_form .buttons .next:hover {
  background-color: rgba(244, 206, 20, 0.5411764706);
}

#confirm_reservation h1 {
  font-size: 1rem;
  text-align: start;
  font-weight: bold;
  margin-bottom: 20px;
}
#confirm_reservation .entry {
  display: flex;
}
#confirm_reservation .entry .name {
  margin-right: 10px;
}
#confirm_reservation .summary {
  margin-bottom: 20px;
}
#confirm_reservation .buttons {
  display: flex;
  justify-content: end;
}
#confirm_reservation .buttons .button {
  text-align: center;
  width: 110px;
  font-weight: bold;
  padding: 10px;
  border-radius: 16px;
}
#confirm_reservation .buttons .back {
  margin-right: 10px;
}
#confirm_reservation .buttons .next {
  background-color: #F4CE14;
}
#confirm_reservation .buttons .next:hover {
  background-color: rgba(244, 206, 20, 0.5411764706);
}

#reservation_status {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reservation_status h1 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
#reservation_status .icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
#reservation_status .icon svg {
  width: 100%;
  height: 100%;
}
#reservation_status .icon .failed {
  color: red;
}
#reservation_status .icon .success {
  color: green;
}
#reservation_status .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reservation_status .buttons .button {
  text-align: center;
  width: auto;
  font-weight: bold;
  padding: 10px;
  border-radius: 16px;
}
#reservation_status .buttons .again {
  background-color: #F4CE14;
  margin-bottom: 10px;
}
#reservation_status .buttons .again:hover {
  background-color: rgba(244, 206, 20, 0.5411764706);
}
#reservation_status .submitting_reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
#reservation_status .submitting_reservation .message {
  margin-left: 10px;
}/*# sourceMappingURL=reservationPage.css.map */